<mat-drawer-container
    [autosize]="true"
    class="min-h-full mx-auto border-x"
>
    <mat-drawer mode="side" opened class="p-6">
        <app-filters (showCategory)="onShowCategory($event)"></app-filters>
    </mat-drawer>
    <mat-drawer-content class="p-6">
        <app-product-header (columnCountChange)="onColumnCountChange($event)" (sortChange)="onSortUpdated($event)" (itemsCountChange)="onItemsShowCountUpdated($event)"></app-product-header>
        <mat-grid-list 
            [cols]="cols"
            gutterSize="16"
            [rowHeight]="rowHeight"
            >
            <mat-grid-tile *ngFor="let product of products">
                <app-product-box
                [product]="product"
                (addToCart)="onAddToCart($event)" 
                class="w-full" 
                [fullWidthMode]="cols === 1">
            </app-product-box>
            </mat-grid-tile> 

          </mat-grid-list>
    </mat-drawer-content>
</mat-drawer-container>